#panelDateSlider{
	position: fixed;
	display: block;
	bottom: 100px; 
	margin-left: auto;
	margin-right: auto;

	width: 60%;
	height: 22px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 99;
}